@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. IMPORT FONT PIXEL (VT323) */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  /* Warna Background Gelap (Biar nyatu sama wrapper desktop) */
  --background-rgb: 15, 17, 21; 
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  /* Set font default jadi Pixel */
  font-family: 'VT323', monospace; 
  /* Reset margin biar full screen di mobile */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Mencegah scroll bar ganda di desktop */
}

/* UTILITY: Animasi Melayang (Buat Creator / Hantu) */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* UTILITY: Scrollbar Keren (Optional, buat log) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
  background: #4ade80; /* Warna Hijau Terminal */
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e; 
}