@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. IMPORT FONT PIXEL (VT323) BIAR GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  /* Warna Background Dark Grey (#0f1115) */
  --background-rgb: 15, 17, 21; 
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  /* Set font default jadi Pixel, biar konsisten */
  font-family: 'VT323', monospace; 
  /* Biar gak ada margin aneh di HP */
  margin: 0;
  padding: 0;
}

/* UTILITY: Sudut Pixel (Tetap dipake buat jaga-jaga) */
.pixel-corners {
  clip-path: polygon(
    0px 4px,
    4px 4px,
    4px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0px calc(100% - 4px)
  );
}

.pixel-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
}

/* ANIMASI TAMBAHAN */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
