@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* Slate 900 */
  --background-end-rgb: 2, 6, 23;     /* Slate 950 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Courier New', Courier, monospace; /* Kesan Retro/Coding */
}

/* Custom Utilities buat Pixel Art feel */
.pixel-corners {
  clip-path: polygon(
    0px 4px,
    4px 4px,
    4px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0px calc(100% - 4px)
  );
}

.pixel-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
}